<% content_for :title do %>
  Your Line Items
<% end %>

<table>
<tr>
  <td>Quantity</td>
  <td>Product</td>
  <td>Price</td>
</tr>
<% @line_items.each do |line_item| %>
  <tr>
    <%= render 'line_items/line_item', line_item: line_item %>
  </tr>
<% end %>
</table>

<footer>
<table>
  <tr>
    <td><%= link_to 'Previous', "/my-line-items/page/#{@current_page - 1}" if @current_page > 1 %></td>
    <td><%= link_to 'Next', "/my-line-items/page/#{@current_page + 1}" if @current_page < @total_pages %></td>
  </tr>
</table>
</footer>

