<h1>Categories: </h1>
<ul>
  <% @categories.find_each do |category| %>
    <li>
      <%= category.name %>
      <ul>
        <% if category.sub_categories.present? %>
          <h5>Sub Categories</h5>
          <% category.sub_categories.each do |sub_category| %>
            <li><%= sub_category.name %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
